<div class="sidebar-header">
    <a class="navbar-brand" href="">
        <i class="bi bi-graph-up-arrow text-warning"></i>
        <span>STANDOFF TRACKER</span>
    </a>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">

        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-speedometer2"></i> Dashboard
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="portfolio">
                <i class="bi bi-briefcase-fill"></i> Портфель
            </NavLink>
        </div>

        <div class="nav-divider">СЕРВИСЫ</div>

        <div class="nav-item">
            <NavLink class="nav-link" href="market">
                <i class="bi bi-shop"></i>
                <span class="flex-grow-1">Рынок</span>
                <span class="badge-premium">PRO</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="help">
                <i class="bi bi-question-circle"></i> Справка
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-divider">ADMIN PANEL</div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="market-editor">
                        <i class="bi bi-database-gear"></i> Редактор БД
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="admin/users">
                        <i class="bi bi-people-fill"></i> Пользователи
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView>

    </nav>
</div>