<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="@Assets["StandoffPortfolioTracker.AdminPanel.styles.css"]" />
    <script src="_content/Blazor-ApexCharts/js/apex-charts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/chart-helper.js"></script>
    <script>
        window.notificationStorage = {
            save: (key, data) => { localStorage.setItem(key, data); },
            load: (key) => { return localStorage.getItem(key); },
            clear: (key) => { localStorage.removeItem(key); }
        };
    </script>
</body>

</html>
